<!-- Template that defines two input tages for a title(of an article) and a link(URL)-->
<form class="ui large form segment">
  <h3 class="ui header">Add a Link</h3>

  <!-- #var_name => tells Angular to assign those tags to a local variable, which is also an object-->
  <div class="field">
    <label for="title"> Title: </label>
    <input name="title" id="title" #newtitle />
  </div>

  <div class="field">
    <label for="link"> Link: </label>
    <input name="link" id="link" #newlink />
  </div>

  <!-- now we pass them as variables into a function-->
  <button (click)="addArticle(newtitle, newlink)"
          class="ui positive right floated button">
    Submit link
  </button>
</form>

<div class="ui grid posts">
  <app-article *ngFor="let a of sortedArticles()"
    [article]="a">    
  </app-article>
</div>
